<link rel="stylesheet" href="css/filepond.min.css">
<script src="js/filepond.min.js"></script>
<script src="js/filepond-plugin-image-preview.min.js"></script>
<script src="js/filepond-plugin-image-resize.js"></script>
<script src="js/filepond-plugin-file-validate-type.js"></script>
<script src="js/filepond-plugin-image-crop.js"></script>
<script src="js/filepond.jquery.js"></script>

<script src="js/mditor.js"></script>
<script src="js/treehole-editor.js"></script>
<script src="js/treehole-file-upload.js"></script>


<div class="animated fadeIn">
  <!-- Breadcrumb-->
  <ol class="breadcrumb p-0 mb-4">
    <h2 class="m-0 text-dark">新建文章</h2>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <ul class="d-flex list-unstyled">
        <li class="breadcrumb-item">
          <i class="fa fa-home"></i>
        </li>
        <li class="breadcrumb-item active">
          <a href="#/pages/new-article.html">
            <i class="fa fa-circle-o"></i> 新建发布</a>
        </li>
      </ul>
    </li>
  </ol>
  <!-- /.Breadcrumb -->


  <div class="card">
    <div class="card-header">
      新建一篇文章
      <small class="text-danger">
        在写作的过程中不要忘记保存 ( ctrl+s/command+s ) 哦，虽然程序会每隔2分钟自动保存一次！！！
      </small>

      <div class="card-header-actions">
        <button type="reset" class="btn btn-sm btn-primary">
          <i class="fa icon-check"></i> 存为草稿
        </button>
        <button type="reset" class="btn btn-sm btn-success">
          <i class="fa icon-cursor"></i> 发表
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-8">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    文章标题
                  </span>
                </div>
                <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="文章标题">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    自定义访问地址
                  </span>
                </div>
                <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="自定义访问地址">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    分类
                  </span>
                </div>
                <!-- <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="分类"> -->
                <select class="form-control">
                  <option value="0">请选择</option>
                  <option value="1">广州市</option>
                  <option value="2">深圳市</option>
                  <option value="3">湛江市</option>
                  <option value="4">北京市</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    标签
                  </span>
                </div>
                <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="请输入标签，不同的标签使用空格隔开">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="height: 100%;" id="preimg-upload">
              <input type="file" class="my-pond" name="filepond" data-max-files="1" accept="image/png, image/jpeg, image/gif" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <textarea id="thole-editor">
文章简介

------

文章内容
            </textarea>
      </div>
    </div>
  </div>
</div>

<style>
  .mditor-mini {
    width: 100%;
  }

</style>
