<div class="animated fadeIn">
  <!-- Breadcrumb-->
  <ol class="breadcrumb p-0 mb-4">
    <h2 class="m-0 text-dark">首页</h2>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <ul class="d-flex list-unstyled">
        <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
        <li class="breadcrumb-item active">
          <a href="#"><i class="icon-graph"></i> 首页</a>
        </li>
      </ul>
    </li>
  </ol>
</div>
<!--/.row-->

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-border">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">博客信息</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label">博客名称</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">博客地址</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">博客简介</label>
                <div class="col-md-9">
                  <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> 修改</button>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-border">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">安装信息</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label">安装时间</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" disabled value="2018-01-01 00:00:00" placeholder="安装时间">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">安装目录</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" value="/var/www" disabled placeholder="安装目录">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Java 版本</label>
                <div class="col-md-9">
                  <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Java 版本" value="1.8" disabled>
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email-input">系统类型</label>
                  <div class="col-md-9">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="系统类型" value="Centos7" disabled>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!--/.row-->
</div>
