<div class="animated fadeIn">
  <!-- Breadcrumb-->
  <ol class="breadcrumb p-0 mb-4">
    <h2 class="m-0 text-dark">访问日志</h2>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <ul class="d-flex list-unstyled">
        <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
        <li class="breadcrumb-item active">
          <a href="#">访问统计</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#">访问日志</a>
        </li>
      </ul>
    </li>
  </ol>
</div>
<!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="form-group row">
          <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  访问时间段
                </span>
              </div>
              <input type="text" placeholder="请输入时间段" name="reservation" id="reservation" class="form-control" value="2014-5-21 - 2014-6-21" />
            </div>
          </div>
          <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    入口页面
                  </span>
                </div>
                <input type="text" placeholder="请输入入口页面" class="form-control" />
              </div>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  自定义访问地址
                </span>
              </div>
              <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="自定义访问地址">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <button type="reset" class="btn btn-sm btn-primary">
              <i class="fa icon-magnifier"></i> 查询
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>访问时间</th>
          <th>地域</th>
          <th>来源</th>
          <th>设备</th>
          <th>入口页面</th>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2018-01-01 00:00:00</td>
          <td>北京</td>
          <td>百度</td>
          <td>IPhone7</td>
          <td>/pages</td>
          <td>127.0.0.1</td>
        </tr>
      </tbody>
    </table>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-6 -->
  <!-- /.col-lg-6 -->
</div>
<!--/.row-->
</div>

<script type="text/javascript" src="js/visit-log.js"></script>