<div class="animated fadeIn">
  <!-- Breadcrumb-->
  <ol class="breadcrumb p-0 mb-4">
    <h2 class="m-0 text-dark">访问来源统计</h2>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
      <ul class="d-flex list-unstyled">
        <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
        <li class="breadcrumb-item active">
          <a href="#">访问统计</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#">来源统计</a>
        </li>
      </ul>
    </li>
  </ol>
</div>
<!--/.row-->

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-border">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">来源地理位置分布</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          chart
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-border">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">访问 Referer 统计</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          Referer
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-6 -->
</div>

<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header no-border">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">搜索引擎</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            chart
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-6 -->

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header no-border">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">系统环境</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            Referer
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
<!--/.row-->
</div>
